a {color: dimgrey;}

  a:hover {color:black;}
     

  body {
    background-color:lightgrey;
    color:black;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 120%;
   }

  

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    color: black;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  footer
  { padding:0px;
    width: 100%;
    border:0px; 
    margin:0px;
    background-color:#373737 ;
    color:white;

  }
  .intro{margin-bottom:10rem ;margin-top:10rem; color:white;}
  .intr{color: white;}
  div.one{text-align:justify; width: 50%;margin-left: 25%}
